@import "tailwindcss"; /* or @tailwind base; @tailwind components; @tailwind utilities; */

/* Custom Infinite Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused; 
}